In [76]:
import re
import PyPDF2

import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.stem import PorterStemmer, WordNetLemmatizer

import pandas as pd
import json
import pprint

import seaborn as sns
import matplotlib.pyplot as plt 

%matplotlib inline

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\BennettCelichowski\AppData\Roaming\nltk_data.
[nltk_data]     ..
[nltk_data]   Package stopwords is already up-to-date!

In [77]:
# CREATE PDF OBJECTS AND BASIC PARAMS

#pdf_obj = open('CIM-02-American-Casino.pdf','rb')
pdf_Reader = PyPDF2.PdfFileReader(pdf_obj)

num_pages = pdf_Reader.numPages

print(num_pages)

PdfReadWarning: Xref table not zero-indexed. ID numbers for objects will be corrected. [pdf.py:1736]
54

In [78]:
# EXTRACT TEXT VIA LOOP


text_list = []

for page in range(num_pages):
    text = pdf_Reader.getPage(page).extractText()
    text_list.append(text)

In [79]:
len(text_list)

54

In [80]:
# CLEAN TEXT

stop_words = stopwords.words('english')

# LEMMATIZER
lemmatizer = WordNetLemmatizer()

# CLEANING LOOP

clean_data = []

for word in range(num_pages):
    #REMOVE PUNCTUATION
    words = re.sub('[^a-zA-Z]',' ',text_list[word])
    #MAKE EVERYHTING LOWERCASE
    words=words.lower().split()
    #ELIMINATE STOPWORDS
    words =[lemmatizer.lemmatize(word) for word in words if (word not in stop_words)]
    #CREATE LIST OF STOPWORDS
    words=' '.join(words)
    clean_data.append(words)

In [81]:
# SEPARATE WORDS

clean_words = []

for page in clean_data:
    for word in page.split():
        clean_words.append(word)

In [82]:
# SEPARATE WORDS & PAGE #'s


def text_by_page(data):

    clean_page = {}

    for page in range(num_pages):
        text = pdf_Reader.getPage(page).extractText()
        pg = pdf_Reader.getPageNumber(pdf_Reader.getPage(page))
        clean_page.update({pg:text})

    clean_page = pd.DataFrame(clean_page, index=[0]).transpose()

    return clean_page 

page_text = text_by_page(pdf_Reader)

page_text.shape

(54, 1)

In [83]:
# CLEAN PAGE DATA

clean_page_data = []

def clean_pages(data):

    for word in data[0]:
        #REMOVE PUNCTUATION
        words = re.sub('[^a-zA-Z]',' ',word)
        #MAKE EVERYHTING LOWERCASE
        words=words.lower().split()
        #ELIMINATE STOPWORDS
        words =[lemmatizer.lemmatize(word) for word in words if (word not in stop_words)]
        #CREATE LIST OF STOPWORDS
        words=' '.join(words)
        clean_page_data.append(words)

    clean_page_df = pd.DataFrame(clean_page_data)


    clean_page_df.reset_index(inplace=True)
    clean_page_df.rename(columns = {'index': 'Page'}, inplace=True)
    clean_page_df.rename(columns = {0: 'text'}, inplace=True)

    return clean_page_df

clean_pages = clean_pages(page_text)

clean_pages.shape

(54, 2)

In [84]:
from collections import Counter

def count_common_words(lst,count):

    most_common_words= [word for word in Counter(lst).most_common(count)]
    
    return most_common_words


most_common_words = pd.DataFrame(count_common_words(clean_words,30))

In [85]:
# IMPORT AFINN MODEL TO EVALUATE POSTIIVE NEGATIVE SENTIMENT OF RAW TWEETS

from afinn import Afinn


# SET AFINN DEFAULT AS ENGLISH
afinn = Afinn(language = 'en')

In [86]:
def AFINN(data):

    afinn_lst = []



    for str in data['text']:
        
        # NORMALIZE FOR TWEET LENGTH 
        adj_AFINN = (afinn.score(str)/ len(str.split()))
        afinn_lst.append(adj_AFINN)
    
    afinn_df = pd.DataFrame(afinn_lst)
    afinn_df.reset_index(inplace=True)
    afinn_df.rename(columns = {'index': 'Page'}, inplace=True)
    afinn_df.rename(columns = {0: 'AFINN SCORE'}, inplace=True)


    return afinn_df

AFINN_df = AFINN(clean_pages)

AFINN_df

    Page  AFINN SCORE
0      0     0.000000
1      1     0.050595
2      2     0.000000
3      3     0.000000
4      4     0.080357
5      5     0.040323
6      6    -0.098765
7      7     0.000000
8      8     0.132743
9      9     0.025907
10    10     0.132743
11    11     0.187500
12    12     0.057471
13    13     0.119318
14    14     0.034286
15    15     0.026455
16    16     0.032895
17    17     0.000000
18    18     0.070833
19    19     0.000000
20    20     0.000000
21    21     0.098485
22    22     0.060071
23    23     0.067961
24    24     0.057143
25    25     0.068182
26    26     0.000000
27    27     0.000000
28    28     0.035019
29    29     0.073171
30    30     0.117647
31    31     0.031056
32    32     0.000000
33    33     0.000000
34    34     0.035842
35    35     0.097938
36    36     0.027027
37    37     0.065693
38    38     0.000000
39    39     0.000000
40    40     0.026738
41    41     0.036649
42    42     0.363636
43    43     0.040650
44    44     0.000000
45    45     0.040650
46    46     0.035714
47    47     0.036145
48    48     0.017857
49    49     0.000000
50    50     0.053968
51    51     0.054545
52    52     0.000000
53    53     0.059633

In [87]:
# VADER SENTIMENT  - IMPORT LIBS

from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

analyzer = SentimentIntensityAnalyzer()

In [88]:
# APPLY VADER SENTIMENT

Vader_dict = {}

def Vaderize_words(data):
    for word in data:
        Vader_sentiment = analyzer.polarity_scores(word)
        Vader_dict.update({word:Vader_sentiment})

    Vader_df = pd.DataFrame(Vader_dict)
    Vader_df = Vader_df.transpose()

    Vader_df.reset_index(inplace=True)
    Vader_df.rename(columns = {'index': 'text'}, inplace=True)
    Vader_df.reset_index(inplace=True)
    Vader_df.rename(columns = {'index': 'Page'}, inplace=True)

    return Vader_df

Vader_page = pd.DataFrame(Vaderize_words(clean_pages['text']))

Vader_page.head()

,Page,text,neg,neu,pos,compound
0,0,book number issued confidential information me...,0.000,0.822,0.178,0.0772
1,1,bear stearns co inc v confidential confidentia...,0.018,0.830,0.153,0.9915
2,2,bear stearns co inc v confidential table conte...,0.000,1.000,0.000,0.0000
3,3,section executive summary,0.000,1.000,0.000,0.0000
4,4,bear stearns co inc confidential executive sum...,0.000,0.825,0.175,0.9888

In [89]:
# JOIN AFINN AND VADER

Sentiment_df = Vader_page.merge(AFINN_df, on='Page', how='left')
Sentiment_df.head()

,Page,text,neg,neu,pos,compound,AFINN SCORE
0,0,book number issued confidential information me...,0.000,0.822,0.178,0.0772,0.000000
1,1,bear stearns co inc v confidential confidentia...,0.018,0.830,0.153,0.9915,0.050595
2,2,bear stearns co inc v confidential table conte...,0.000,1.000,0.000,0.0000,0.000000
3,3,section executive summary,0.000,1.000,0.000,0.0000,0.000000
4,4,bear stearns co inc confidential executive sum...,0.000,0.825,0.175,0.9888,0.080357

In [92]:
Sentiment_pivot =  pd.DataFrame(round(pd.pivot_table(data=Sentiment_df, index= 'Page' ,values=['neg','pos','AFINN SCORE','compound'], aggfunc='mean'),4)).sort_values(by= 'compound', ascending=False)

Sentiment_pivot

      AFINN SCORE  compound    neg    pos
Page
21         0.0985    0.9935  0.000  0.171
22         0.0601    0.9920  0.020  0.176
35         0.0979    0.9919  0.025  0.218
1          0.0506    0.9915  0.018  0.153
23         0.0680    0.9914  0.027  0.214
53         0.0596    0.9897  0.025  0.200
18         0.0708    0.9893  0.000  0.155
4          0.0804    0.9888  0.000  0.175
13         0.1193    0.9882  0.007  0.210
11         0.1875    0.9869  0.012  0.302
28         0.0350    0.9865  0.007  0.135
41         0.0366    0.9858  0.018  0.177
29         0.0732    0.9823  0.021  0.177
34         0.0358    0.9821  0.007  0.110
50         0.0540    0.9803  0.000  0.096
14         0.0343    0.9781  0.013  0.162
8          0.1327    0.9756  0.073  0.277
51         0.0545    0.9732  0.000  0.129
40         0.0267    0.9729  0.000  0.124
48         0.0179    0.9694  0.072  0.193
25         0.0682    0.9670  0.009  0.170
10         0.1327    0.9645  0.000  0.190
37         0.0657    0.9601  0.029  0.166
15         0.0265    0.9451  0.040  0.127
45         0.0407    0.9451  0.018  0.151
5          0.0403    0.9451  0.018  0.150
16         0.0329    0.9432  0.032  0.132
9          0.0259    0.9349  0.000  0.085
36         0.0270    0.9100  0.000  0.188
12         0.0575    0.9100  0.000  0.152
31         0.0311    0.9022  0.029  0.109
46         0.0357    0.9005  0.127  0.191
47         0.0361    0.8779  0.056  0.170
30         0.1176    0.7845  0.000  0.141
43         0.0407    0.6705  0.019  0.069
42         0.3636    0.4939  0.000  0.318
24         0.0571    0.1779  0.000  0.048
0          0.0000    0.0772  0.000  0.178
38         0.0000    0.0000  0.000  0.000
39         0.0000    0.0000  0.000  0.000
33         0.0000    0.0000  0.000  0.000
32         0.0000    0.0000  0.000  0.000
26         0.0000    0.0000  0.000  0.000
20         0.0000    0.0000  0.000  0.000
44         0.0000    0.0000  0.000  0.000
19         0.0000    0.0000  0.000  0.000
17         0.0000    0.0000  0.000  0.000
7          0.0000    0.0000  0.000  0.000
49         0.0000    0.0000  0.000  0.000
3          0.0000    0.0000  0.000  0.000
2          0.0000    0.0000  0.000  0.000
52         0.0000    0.0000  0.000  0.000
27         0.0000    0.0000  0.000  0.000
6         -0.0988   -0.9100  0.166  0.032

In [91]:
# ID PAGES WITH MOST +/- SENTIMENT


Vader_page_dict = {}

def Vaderize_pages(data):
    for word in page_text[0]:
        Vader_sentiment = analyzer.polarity_scores(word)
        Vader_page_dict.update({word:Vader_sentiment})

    Vader_df = pd.DataFrame(Vader_dict)
    Vader_page_df = Vader_df.transpose()
    return Vader_page_df

Vaderize_pages(clean_page_data).shape

(54, 4)